*{
    box-sizing: border-box;
}

body{
    margin:0px;
    padding:0px;
    background-color: #84cde1;
}

.toolbox-cont{
    height: 5rem;
    background-color:#141E27;
    display: flex;
    align-items: center;
    position: fixed;
    width:100%;
    top: 0px;
    

}

.toolbox-priority-cont{
    height: 3rem;
    background-color:#EEEDDE;
    width: 18rem;
    margin-left: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 3px;

}

.action-btn-cont{
    background-color:#EEEDDE;
    height: 3rem;
    width: 10rem;
    margin-left: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 2px;

}
.color{
    height: 1.5rem;
    width: 3rem;
    

}
.pink{
    background-color: pink;
}

.blue{
    background-color: blue;
}

.green{
    background-color: green;
}
.black{
    background-color: black;
}

.modal-cont
{
      background-color:#EEEDDE;
      height:50vh;
      width:50vw;
      display: none;
      margin-left: 20rem;
      margin-top: 7rem;
      position: absolute;
}
.textarea-cont
{
      outline: none;
      resize: none;
      border: none;
      background-color:#b4ae5f;
      height: 100%;
      width: 75%;
      font-size: 2rem;
      padding: 2rem;
      border-right:1px solid #141E27;
      

}
.priority-color
{
   height: 3rem;
   width: 5rem;
}
.priority-color-cont
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 25%;

}

.main-cont
{
     margin-top: 6rem;
     margin-left: 1rem;
     display: flex;
     justify-content: space-evenly;
     flex-wrap: wrap;
     gap: 2rem;
     
     
}
.ticket-cont
{
    background-color:#EEEDDE;
    height: 10rem;
    width: 15rem;
}
.ticket-color
{
   height: 1rem;
}
.ticket-id
{
   height: 1.5rem;
   background-color:#EEEDDE;
   padding: 5px;
}
.task-area
{
   height: 100%-1rem-1.5rem;
   padding: 5px;
   font-size: 1.25rem;
   overflow:auto;
   

}

.active
{
    border: 4px solid rgb(243, 208, 9);
}